<section id="profile">
    <div class="form">
        <h2>Profile</h2>
        <form [formGroup]="form" (ngSubmit)="edit()" class="profile-form">

            <ng-container *ngIf="form.get('imageUrl')?.touched">
                <p class="error" *ngIf="form.get('imageUrl')?.errors?.['urlValidator']">Invalid URL!</p>
            </ng-container>
            <input type="text" name="imageUrl" id="imageUrl" placeholder="imageUrl" required formControlName="imageUrl"
                [value]="profileData.imageUrl" />

            <ng-container formGroupName="passGroup">
                <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                    <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']">Password is
                        too short!</p>
                </ng-container>
                <input type="password" name="password" id="register-password" placeholder="password" required
                    minlength="4" formControlName="password" />

                <ng-container *ngIf="form.get('passGroup')?.get('repeatPassword')?.touched">
                    <p class="error" *ngIf="form.get('passGroup')?.errors?.['matchPasswordsValidator']">Passwords are
                        not matching!</p>
                </ng-container>
                <input type="password" name="repeatPassword" id="repeat-password" placeholder="repeat password" required
                    formControlName="repeatPassword" />
            </ng-container>

            <button type="submit">submit</button>
            <button (click)="onCancel()">cancel</button>
        </form>
    </div>
</section>