@font-face {
    font-family: cyber;
    src: url('./assets/CyberwayRiders-lg97d.ttf');
}

body {
    margin: auto;
    padding: 0;
    overflow: auto;
    width: 97vw;
    font-family: 'Roboto Slab', serif;
    background-image: url('./assets/images/bg.png');
    background-size: cover;
    background-size: 100vw;
    font-family: cyber;
}

#main-element {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    body {
        background-image: url('./assets/images/bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #details-wrapper {
        flex-direction: column;

    }

    #details-title {
        margin: 0;
        margin-bottom: -100px;
    }

    #info-wrapper {
        scale: 0.6;
    }

    #details-img {
        scale: 0.6;
    }
}
