<section id="details">
    <div id="details-wrapper">
        <div>
            <img id="details-img" src="{{item.imageUrl}}" alt="example1" />
            <p id="details-title">{{item.item}}</p>
        </div>
        <div id="info-wrapper">
            <div id="details-description">
                <p class="details-price">Price: €{{item.price}}</p>
                <p class="details-availability">{{item.availability}}</p>
                <p class="type">Type: {{item.type}}</p>
                <p id="item-description">{{item.description}}</p>
            </div>
            <!--Edit and Delete are only for creator-->
            <div *ngIf="userId === item.userId" id="action-buttons">
                <a routerLink="/market/{{item._id}}/edit" id="edit-btn">Edit</a>
                <a (click)="deleteHandler()" id="delete-btn">Delete</a>
            </div>
        </div>
    </div>
</section>