<section id="register">
    <div class="form">
        <h2>Register</h2>
        <form #form="ngForm" (ngSubmit)="register(form)" class="register-form">
            <input type="text" 
            name="email" 
            id="register-email" 
            placeholder="email"
            ngModel
            required
            #inputEmail="ngModel" />

            <input type="password" 
            name="password" 
            id="register-password" 
            placeholder="password"
            ngModel
            required
            #inputPassword="ngModel" />

            <input type="password" 
            name="repeatPassword" 
            id="repeat-password" 
            placeholder="repeat password"
            ngModel
            required
            #inputRepeatPassword="ngModel" />

            <button type="submit" [disabled]="form.invalid">register</button>
            <p class="message">Already registered? <a routerLink="/user/login">Login</a></p>
        </form>
    </div>
</section>