<header>
    <!-- Navigation -->
    <a id="logo" routerLink="/"><img id="logo" src="../../../assets/images/logo.png" alt="img" /></a>
    <nav>
        <div>
            <a href="#">Market</a>
        </div>

        <!-- Logged-in users -->
        <div class="user">
            <a href="#">Sell</a>
            <a href="#">Logout</a>
        </div>

        <!-- Guest users -->
        <div class="guest">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </nav>
</header>