<header>
    <!-- Navigation -->
    <a id="logo" routerLink="/"><img id="logo" src="../../../assets/images/logo.png" alt="img" /></a>
    <nav>
        <div>
            <a routerLink="/market">Market</a>
        </div>

        <!-- Logged-in users -->
        <div *ngIf="isLogged" class="user">
            <a routerLink="/market/sell">Sell</a>
            <a routerLink="/user/logout" (click)="logout()">Logout</a>
        </div>

        <!-- Guest users -->
        <div *ngIf="!isLogged" class="guest">
            <a routerLink="/user/login">Login</a>
            <a routerLink="/user/register">Register</a>
        </div>
    </nav>
</header>