<section id="details">
    <div id="details-wrapper">
        <div>
            <img id="details-img" src="{{profileData.imageUrl}}" alt="example1" />
            <p id="details-title"></p>
        </div>
        <div id="info-wrapper">
            <div id="details-description">
                <p class="details-name">Email: {{profileData.email}}</p>
            </div>
            <!--Edit and Delete are only for creator-->
            <div *ngIf="userId" id="action-buttons">
                <a id="edit-btn" routerLink="edit">Edit</a>
            </div>
        </div>
    </div>
</section>
