<app-notification />
<h3 class="heading">Market</h3>
<app-loader *ngIf="isLoading" />
<ng-container *ngIf="!isLoading">
    <section *ngIf="items.length > 0" id="dashboard">
        <!-- Display a div with information about every post (if any)-->
        <div class="item">
            <img src="../../../assets/images/tablet.png" alt="example1" />
            <h3 class="model">Synoptic Eye Tablet</h3>
            <div class="item-info">
                <p class="price">Price: €1000</p>
                <p class="availability">
                    Premium retailers, exclusive online stores
                </p>
                <p class="type">Type: Premium Tech</p>
            </div>
            <a class="details-btn" href="#">Uncover More</a>
        </div>
       
    </section>
    <!-- Display an h2 if there are no posts -->
    <h3 *ngIf="items.length == 0" class="empty">No Items Yet</h3>
</ng-container>